body, html {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.menu {
    position: absolute;
    color: white;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu img {
    position: static;
    padding: 50px;
    height: 20px;
}

#img_room {
    margin-top: 3px;
}

.menu img:first-child {
    left: -30px;
    height: 25px;
    position: absolute;
}

#closeNavmenu {
    padding: 0px;
    left: 15px;
    height: 15px;
    position: absolute;
}

.navMenu {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0px;
    top: -100px;
    background: white;
    justify-content: flex-end;
    align-items: center;
    transition: 300ms;
    position: absolute;
}

.show {
    top: 0px;
}

.navMenu img {
    height: 30px;
}

.navMenubar {
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 12px;
}

.navMenubar li a {
    margin-left: 40px;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

.button_shoping:hover {
    color: hsl(0, 0%, 63%);
}

.button_shoping:hover path {
    stroke: hsl(0, 0%, 63%);
}

.button_shoping:active {
    color: hsl(0, 0%, 27%);
}

.hero {
    width: 100%;
}

.hero_container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    width: 100%;
}

.hero_img {
    display: inline-block;
    top: 0;
    left: -0%;
    z-index: -1;
    transition: 500ms;
    position: relative;
}

.hero_img img {
    width: 100%;
}

.hero_details {
    padding: 20px;
    position: relative;
}

.arrows-contain {
    display: flex;
    height: 10px;
    margin-top: -47px;
    padding-left: 275px;
    position: absolute;
}

.arrows {
    display: flex;
    width: 43px;
    height: 43px;
    justify-content: center;
    align-items: center;
    background: black;
}

.arrows img {
    width: 10px;
    height: 14px;
}

.arrows:active {
    background: hsl(0, 0%, 27%);
}

.hero_details {
    margin-bottom: 14px;
}

.hero_details h2 {
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 0px;
}

.hero_details p {
    font-size: 13px;
    color: hsl(0, 0%, 63%);
    margin-bottom: 37px;
}

.hero_details a {
    font-size: 11px;
    font-weight: 640;
    letter-spacing: 8px;
    text-decoration: none;
    color: hsl(0, 0%, 27%);
}

.about {
    width: 100%;
}
.about_details {
    padding: 20px;
}

.about_details h3 {
    font-size: 16px;
    margin-bottom: -5px;
}

.about_details p {
    font-size: 14px;
    color: hsl(0, 0%, 63%);
    margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
    body {
        background-size: auto;
    }
    .container {
        margin-top: 0px;
    }
    .menu img {
        margin-right: 0px;
        height: 16px;
    }
    .menu img:first-child {
        display: none;
    }
    .navMenu {
        padding: 0;
        background: none;
        height: inherit;
        position: static;
        justify-content: flex-start;
    }
    .navMenubar {
        padding-right: 0;
        margin-left: -45px;
    }
    .navMenubar li {
        padding: 6px 0;
    }
    .navMenubar li a{
        color: rgb(255, 255, 255);
        position: relative;
        padding: 4px 0;
        font-size: 12px;
        font-weight: 540; 
        margin-left: 49px; 
        transition: 0.5s;
    }
      a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
    .hero {
        display: grid;
        grid-template-columns: 56% 45%;
    }
    .hero_container {
        height: 100%;
    }
    .hero_img img {
        width: 100%;
        height: 100%;
    }
    .arrows-contain {
        width: 8.5%;
        height: 8%; 
        padding: 20px;
        left: 685px;
        margin-top: 377px;
    }
    .arrows {
        width: 100%;
        height: 100%;
    }
    .arrows:hover {
        background: hsl(0, 0%, 27%);
    }
    .hero_details {
        padding: 90px 40px 90px 90px;
        text-align: left;
        position: static;
    }
    .hero_details h2 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 30px;
    }
    .hero_details p {
        font-size: 12px;
        padding-right: 60px;
        margin-bottom: 4%;
    }
    .hero_details a {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.938);
    }
    .button_shoping:hover {
        color: hsl(0, 0%, 63%);
    }
    .button_shoping:hover path {
        stroke: hsl(0, 0%, 63%);
    }
    .button_shoping:active {
        color: hsl(0, 0%, 27%);
    }
    .about {
        display: flex;
        margin: -5px;
    }
    .about:first-child {
        width: 29.19%;
    }
    .about_details {
        width: 38%;
        padding: 4% 4% 0% 4%;
    }
    .about_img {
        width: 40%;
    }
    .about_img #img1 {
        width: 100%;
    }
    .about_img #img2 {
        width: 105%;
    }
    .about_details>h3 {
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-bottom: 5px;
    }
    .about_details>p {
        font-size: 12px;
        color: hsl(0, 0%, 63%);
    }
}